<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  Переменная orders:<br>
  {{order_items}}<br>
  <br>
  {% for order in order_items%}
    {% if order.restaurant_appointed %}
      Назначенный ресторан:<br>
      {{order.restaurant_appointed}}<br>
    {% else %}
      {% for restaurant in order.restaurants_capable %}
        {{restaurant}}
        Ресторан: {{restaurant.0}}<br>
        Адрес: {{restaurant.1}}<br>
      {% endfor %}
    {% endif %}
  {% endfor %}
  <br>
</body>
</html>